<h1>Musician: <%= @musician.name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Band</td>
      <td>Instrument Played</td>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @musician.bands.each do |band| %>
      <td>
        <a href="<%= band_path(band) %>">
          <%= band.name %>
        </a>
      </td>
      <td>
        <%= BandMembership.where(musician_id: @musician.id, band_id: band.id).first.instrument %>
      </td>  
      <% end %>
    </tr>
  </tbody>
</table>