h1, div, td {
  font-family: 'Quicksand';
  color: #DDCC04;
}

.container{
  padding-top: 20px;
  background-color: rgba(0,0,0,.5);
  border: 0 hidden;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}

body{
  /*background-image:url('http://images5.fanpop.com/image/photos/28400000/Music-music-28474589-1920-1200.jpg');*/
  background-image: url('bg.jpg');
  background-size: cover;
}

form{
  margin: 30px 0px;
}
h1 {
  font-size: 3em;
}

td, a, input {
  font-size: 1.7em;
  
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.form-control {
  height: 55px;
  font-size: 1.7em;
}

.btn-lg {
  padding:22px;
  background-color: #003F53;
  color: #FFF8A6;
}

button, select{
  margin: 20px 0 0 0;
}
